<template>
  <div class="address-field">
    <Icon type="arrow-left-c" size="30" color="rgb(128, 128, 128)" class="icon-back"></Icon>
    <Icon type="refresh" size="24" color="rgb(128, 128, 128)" class="icon-refresh"></Icon>
    <div class="address">
      <div class="address-item">
        <span class="address-name">GO</span>
        <Icon type="chevron-right" size="14"></Icon>
      </div>
    </div>
  </div>
</template>

<script>


  export default {
    name: "AddressField",
    data() {
      return {
        address: 'C:\\Go\\doc'
      };
    },
    mounted() {

    }
  };
</script>

<style lang="stylus" scoped>
  .address-field
    display flex
    align-items center
    flex-flow row
    height 52px
    padding-left 20px
    padding-right 20px
    .icon-back, .icon-refresh
      margin-right 20px
    .address
      flex 1
      display flex
      align-items center
      height 24px
      border 1px solid rgb(128, 128, 128)
      .address-name
        font-size 16px
        position relative
        top 1px
</style>
