<template>
  <div class="message">
    <slot name="hr"></slot>
    <div class="console">
      <div>控制台</div>
      <Button type="primary" @click="clearMessage()">清除</Button>
    </div>
    <div class="scroll-area">
      <div class="msg-item" v-for="(item,index) in messageList">
        <div class="number">
          <span>{{index+1}}</span>
        </div>
        <div class="content" @contextmenu.prevent="copyTo(item.content)" @mouseup="copySelection()">{{item.content}}</div>
      </div>
    </div>
  </div>

</template>

<script>
  import { clipboard } from 'electron';
  import { ipcRenderer } from 'electron';

  export default {
    name: 'Console',
    props: {messageList: Array},
    data () {
      return {
        msgList: this.messageList
      };
    },
    methods: {
      clearMessage () {
        this.$emit('update:messageList', []);
      },
      copyTo (content) {
        let event = window.event || arguments[0];
        let text = this.copySelection();
        let t = text.focusNode.parentNode;
        if (t.isSameNode(event.srcElement)) {
          clipboard.writeText(text.toString());
        } else {
          clipboard.writeText(content);
        }
        this.$Notice.success({
          title: '复制成功',
          desc: ''
        });

      },
      copySelection () {
        let txt = '';
        if (window.getSelection) {
          txt = window.getSelection();
        } else if (window.document.getSelection) {
          txt = window.document.getSelection();
        } else if (window.document.selection) {
          txt = window.document.selection.createRange().text;
        }
        return txt;
      },
      jsonFormat (content) {
        ipcRenderer.send('newPage', {
          type: 'jsonFormat',
          content
        });
      }
    },
    watch: {
      msgList (newVal) {
        const that = this;
        this.$nextTick(function () {
          if (newVal.length !== 0) {
            let msg = this.$api.domAll('.msg-item');
            msg[msg.length - 1].scrollIntoView(true);
          } else {

          }
        });
      }
    }
  };
</script>

<style lang="stylus" scoped>
  .message {
    position fixed
    bottom 0
    left 0
    display flex
    flex-flow column
    align-items center
    width 100%
    max-height 80%
    min-height 40px
    height auto
    background-color white
    padding-top 40px
    &::-webkit-scrollbar {
      display none
    }
    .console {
      position absolute
      top 0
      left 0
      display flex
      align-items center
      justify-content space-between
      width 100%
      height 40px
      z-index 2
      background-color rgb(40, 44, 52)
      padding 0 10px
      color white
      font-size 16px
      font-weight bold
    }
  }

  .scroll-area {
    flex 1
    word-wrap break-word
    overflow-x hidden
    overflow-y scroll
    &::-webkit-scrollbar {
      width 10px
      height 10px
    }
    &::-webkit-scrollbar-thumb {
      background-color #333
      border-radius 10px
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color #777
    }
    &:hover::-webkit-scrollbar-track {
      box-shadow inset 0 0 6px #333
      border-radius 10px
    }
    & > .msg-item:last-of-type {
      margin-bottom 20px
    }
  }

  .msg-item {
    position relative
    display flex
    width 100%
    box-sizing border-box
    border-bottom 1px solid #8A6BBE
    font-size 16px
    padding 5px 0
    &:nth-of-type(5n+1) {
      background-color #86C166
    }

    &:nth-of-type(5n+2) {
      background-color #B28FCE
    }
    &:nth-of-type(5n+3) {
      background-color #A5DEE4
    }
    &:nth-of-type(5n+4) {
      background-color #FEDFE1
    }
    &:nth-of-type(5n) {
      background-color #F8C3CD
    }
    .number {
      position absolute
      top 50%
      transform translateY(-50%)
      display flex
      align-items center
      justify-content center
      width 50px
      height 100%
      text-align center
      border-right 1px solid #8A6BBE
    }
    .content {
      margin-left 50px
      flex 1
      word-wrap break-word
      word-break break-all
      padding 0 10px
    }
  }


</style>
