<template>
  <div class="main">
    <div class="folder-item" v-for="(item,index) in DirList" @contextmenu.prevent="contentMenu(index)">
      <i class="icon icon-folder"></i>
      <div class="folder-name">{{item.path|path}}</div>
    </div>
  </div>
</template>

<script>
  import {ipcRenderer, remote} from 'electron';

  const {Menu, MenuItem} = remote;
  export default {
    name: 'index',
    data() {
      return {
        DirList: this.$api.getStorage('DirList') || []
      };
    },
    methods: {
      contentMenu(index) {
        const that = this;
        let Dir = this.DirList[index];
        const menu = new Menu();
        menu.append(new MenuItem({
          label: 'WIFI 增量同步',
          click: function () {
            ipcRenderer.send('apicloud', {
              type: 1,
              path: Dir.path,
              isFull: false
            });
          }
        }));
        menu.append(new MenuItem({
          label: 'WIFI 全量同步',
          click: function () {
            ipcRenderer.send('apicloud', {
              type: 1,
              path: Dir.path,
              isFull: false
            });
          }
        }));
        menu.append(new MenuItem({
          label: 'WIFI 自动同步',
          type: 'checkbox',
          click: function () {
            ipcRenderer.send('apicloud', {
              type: 2,
              path: Dir.path
            });
          }
        }));
        menu.append(new MenuItem({
          label: '移除项目文件夹',
          click: function () {
            that.DirList.splice(index,1)
          }
        }));
        menu.popup(remote.getCurrentWindow());
      }
    },
    computed: {},
    watch: {
      DirList(newVal) {
        this.$api.setStorage('DirList', newVal);
      }
    },
    filters: {
      path(value) {
        return value.slice(value.lastIndexOf('\\') + 1);
      }
    },
    mounted() {
      const that = this;
      ipcRenderer.on('main', function (event, message) {
        let isExist = false;
        that.DirList.forEach((item) => {
          if (item.path == message.files) {
            that.$Notice.warning({
              title: '该文件夹已被添加,请勿重复添加',
              desc: ''
            });
            isExist = true;
          }
        });
        if (!isExist) {
          that.DirList.push({
            path: message.files,
            autoUpdate: false
          });
        }
      });
    }
  };
</script>

<style lang="stylus" scoped>
  @import "../assets/css/icon.css"
  input[type='file']
    display: none

  .main
    display flex
    flex-flow row
    flex-wrap wrap
    width 100%

  .folder-item
    flex 0 0 10%
    width 100%
    min-height 110px
    display flex
    flex-flow column
    align-items center
    .folder-name
      font-size 25px
      text-align center
</style>
