<template>
  <div id="jsoneditor">

  </div>
</template>

<script>
  import "jsoneditor/dist/jsoneditor.min.css";
  import JSONEditor from 'jsoneditor';
  import {ipcRenderer} from 'electron';

  export default {
    name: "jsonFormat",
    mounted() {
      const that=this;
      let container = document.getElementById("jsoneditor");
      let options = {
        modes: ['text', 'code', 'form', 'tree', 'view'],
        onError: function (err) {
          alert(err.toString());
        }
      };
      let editor = new JSONEditor(container, options);


      // set json


      ipcRenderer.on('jsonFormat', (e, args) => {
        let json = {
          "Array": [1, 2, 3],
          "Boolean": true,
          "Null": null,
          "Number": 123,
          "Object": {"a": "b", "c": "d"},
          "String": "Hello World"
        };
        // editor.set(args);
      });
      // // get json
      // let json = editor.get();
    }
  };
</script>

<style scoped>
  .jsoneditor {
    width: 100%;
    height: 100%;
  }
</style>
