<template>
  <div id="app" @mousemove="changeConsoleSize()" @mouseup="isChange=false" @mouseleave="isChange=false">
    <address-field v-if="routeName!=='jsonFormat'"></address-field>
    <router-view class="main"></router-view>
    <Console id="console" :messageList.sync="messageList"  v-if="routeName!=='jsonFormat'">
      <div class="hr" slot="hr"
           @mousedown="isChange=true"
      ></div>
    </Console>
  </div>
</template>

<script>
  import addressField from './components/AddressField';
  import Console from './components/Console';
  import {ipcRenderer} from 'electron';

  export default {
    name: 'APICloud',
    data() {
      return {
        isChange: false,
        messageList: [],
        routeName:this.$route.name
      };
    },
    components: {addressField, Console},
    methods: {
      changeConsoleSize() {
        if (this.isChange) {
          let ev = window.event;
          let h = window.innerHeight;
          let mouseDownY = ev.clientY;
          if (mouseDownY > 80) {
            this.$api.byId('console').style.maxHeight = h - mouseDownY + 10 + 'px';
            this.$api.byId('console').style.height = h - mouseDownY + 10 + 'px';
            if (mouseDownY < h * 0.2) {
              this.$api.byId('console').style.maxHeight = '80%';
              this.$api.byId('console').style.height = '80%';
            }
            if (h - mouseDownY < 40) {
              this.$api.byId('console').style.maxHeight = "80%";
              this.$api.byId('console').style.height = "40px";
            }
          }

        }
      }
    },
    watch: {
      messageList(newVal) {
        if (newVal.length == 0) {
          this.$api.byId('console').style.maxHeight = "80%";
        }
        if(newVal.length>100){
          this.messageList.push()
        }
      }
    },
    mounted() {
      const that = this;
      ipcRenderer.on('all-in', function (event, message) {
        if (message.type === 1) {
          console.log(message);
        } else if (message.type === 2) {
          that.messageList.push({
            time: new Date().getTime(),
            content: message.args.content,
            level: message.args.level
          });
        } else if (message.type === 3) {
          that.$Notice.info({
            title: '<div class="notice">系统版本</div>',
            desc: 'Here ',
            render: h => {
              return h('div', {
                class: 'notice'
              }, [
                h('div', {class: 'notice-item'}, [`Node.js: ${process.versions.node}`]),
                h('div', {class: 'notice-item'}, [`V8: ${process.versions.v8}`]),
                h('div', {class: 'notice-item'}, [`Chrome: ${process.versions.chrome}`]),
                h('div', {class: 'notice-item'}, [`Electron: ${process.versions.electron}`])
              ]);
            },
            duration: 0
          });
        }
      });
    }
  };
</script>

<style>
  html, body {
    width: 100%;
    height: 100%;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  #app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  .main {
    flex: 1;
    width: 100%;
  }

  .hr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: n-resize;
    z-index: 3;
    word-wrap: break-word;
  }

  .notice {
    color: blue
  }

  .notice-item {
    font-size: 12px;
    color: black;
    margin-bottom: 6px;
  }

</style>
